nav {
  font-size: 1.8em;
  font-weight: bold;
}
nav .navbar-brand{
  font-size: 1.8em;
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link{
  color: rgba(255, 182, 38, 0.4);
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: #FFAB05;
}

li a {
    display: inline-block !important;
}
.nav-link::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background:  linear-gradient(to right, #F4FF00 1%,#FFAB05 100%);
    margin: 0% 50%;
    transition: all .35s ease;

    /*left: 50%;
    transform: translate(50%, 0);*/
}
.nav-link:hover::after {
  width: 100%;
  margin: 0% 0%;
}
.nav-link:hover {
  color: #FFB432 !important;
}

.NavTogglerStyle {
  border: none !important;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(to bottom,#001419,#0E0432,#2B1047,#471975);
  background-color: #0E0432;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
