.sec-about {
  background: $about-bg-color;
  margin-top: 20%;
  padding-top: 5rem;
  h2 {
    font-size: 5rem;
  }

  .team-member {
    img {
      width: $team-img-border-hw;
      height: $team-img-border-hw;
      object-fit:cover;
      border: $team-img-border;
      border-radius: $team-img-border-radius;
      background-image: $team-img-border-color2;
      background-origin: border-box;
      background-clip: border-box, content-box;
    }
    h4 {
      padding-top: 1rem;
      color: $indigo;
      font-size: 1.8rem;
    }
    p {
      color: $gray;
    }
    blockquote {
      margin-top: -0.8rem;
      color: $purple-001;
    }
  }
}