.latest-blog {
    height: 100vh;
    h2 {
        font-size: 5rem;
    }
    .container-fluid {

        padding-right: 0 !important;
        padding-left: 0 !important;
       
    }

    .carousel {
        background-color: $purple-002;
        padding-top: 0.2rem !important;
        padding-bottom: 0.2rem !important;
        
        .item-container {
            height: 15rem;
            width: 100%;
            overflow: hidden;
            
            .post-thumbnail {
                max-width: 100%;
            }
        }
        .carousel-item .overlay {
            position: absolute;
            top: 15%;
            right: 0%;
            left: 5%;
            width: 100%;
        }
        .carousel-caption {
            top: 30% !important;
            right: 0% !important;
            left: 5% !important;
            text-align: left !important;
            .latest-blog-abstract {
                font-size: 1rem;
                
            }
        }
        
    }
    @media(min-width: 768px){
        .carousel {
            
            .item-container {
                height: 25rem;
                width: 100%;
                overflow: hidden;
                
                .post-thumbnail {
                    max-width: 100%;
                }
            }
        }
    }

}