/* page-heading */
.page-heading {
  position: relative;
  height: auto;
  min-height: 40rem;
  padding-top: 5rem;
  background-attachment: scroll;
  color: $page-heading-def-text-color;
  h1 {
    font-family: $root-font-en;
    font-size: 2.5rem;
    line-height: 2.8rem;
  }
  h5 {
    font-family:  $root-font-zh;
    font-size: 1.0rem;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .logo {
    width: 20rem;
    height: 20rem;
    //@debug background-image: url('../.logo/bg/bg-glitch-header.png');
    background-image: $nav-brand-color;
    background-repeat: no-repeat;
    
    -webkit-mask-image: url($page-logo-path);
    mask-image: url($page-logo-path);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    //-webkit-background-clip: text;
    /*
    filter: drop-shadow(2px 2px 0px $neon-pink)
            drop-shadow(-2px -2px 0px $neon-blue); 
    */  
  }
  
  .btn {
    text-transform: uppercase;
    padding: 1.2rem 2.0rem;
  }
  .btn-primary {
    background-color: $page-heading-btn-color !important;
    border-color: $page-heading-btn-bor-color !important;
  }
  @media(min-width: 320px) {
    img {
      width: 18rem;
      height: 18rem;
    }
    h5 {
      margin-top: -2.5rem;
    }
  }
  @media(min-width: 576px){
    margin-top: -8rem;
    h1 {
      font-size: 3.0rem;
    }
    h5 {
      margin-top: -5rem;
    }
    img {
      width: 32rem;
      height: 32rem;
    }
  }
  @media(min-width: 768px){
    margin-top: -8rem;
    h1 {
      font-size: 4.5rem;
    }
    h5 {
      margin-top: -8rem;
    }
    img {
      width: 40rem;
      height: 40rem;
    }
  }
  @media(min-width: 992px){
    margin-top: -8rem;
    h1 {
      font-size: 5.0rem;
    }
    h5 {
      margin-top: -8rem;
    }
    img {
      width: 45rem;
      height: 45rem;
    }
  }
  @media(min-width: 1200px){
    //padding-top: 0rem;
    margin-top: -8rem;
    padding-left: -10rem;
    h1 {
      font-size: 5.0rem;
    }
    h5 {
      margin-top: -8rem;
    }
    img {
      width: 45rem;
      height: 45rem;
    }
  }
}
