/* page-heading */
.page-heading {
  position: relative;
  height: auto;
  width: 100%;
  min-height: 35rem;
  padding-top: 8rem;
  background-attachment: scroll;
  color: $page-heading-def-text-color;
  h1 {
    font-family: $root-font-en;
    font-size: 2.5rem;
    line-height: 2.8rem;
  }
  h5 {
    font-family:  $root-font-zh;
    font-size: 1.0rem;
    color: rgba(255, 255, 255, 0.7);
    margin-top: -1.2rem;
    margin-bottom: 1rem;
  }
  img {
    width: 90%;
    height: 90%;
    margin-left: -0.5rem;
    position: relative;
    &::before {
        contain: '';
        width: $page-logo-hw;
        height: $page-logo-hw;
        position: relative;
        background: url($page-logo-path);
      }
  }
  .btn {
    text-transform: uppercase;
    padding: 1.2rem 2.0rem;
  }
  .btn-primary {
    background-color: $page-heading-btn-color !important;
    border-color: $page-heading-btn-bor-color !important;
  }
  @media(min-width: 576px){
    padding-top: 5rem;
    h1 {
      font-size: 3.0rem;
    }
    img {
      width: 80%;
      height: 80%;
    }
  }
  @media(min-width: 768px){
    padding-top: 5rem;
    h1 {
      font-size: 4.5rem;
    }
    img {
      width: 70%;
      height: 70%;
    }
  }
  @media(min-width: 992px){
    padding-top: 4rem;
    h1 {
      font-size: 5.0rem;
    }
  }
  @media(min-width: 1200px){
    padding-top: 3rem;
    padding-left: -1rem;
    h1 {
      font-size: 5.0rem;
    }
  }
}
