#particles-js {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom,#001419 0%,#0E0432  75%,#2B1047 85%,#471975 100%);
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  position: fixed;
  z-index:-1 !important;
}
