#particles-js {
  width: 100%;
  height: 100%;
  background-image: $particles-bg-color;
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  position: fixed;
  z-index:-1 !important;
}
