/* root - font */
$root-font-en: 'Ubuntu' !default;
$root-font-zh: 'Noto Sans TC' !default;
/* root - color */
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;

/* page-heading */
$page-heading-def-text-color: #FFFFFF !default;
$page-heading-btn-color: $indigo;
$page-heading-btn-bor-color: $indigo;
