<section id="about" class="sec-about text-center">
        <div class="container">
          <div class="row  mb-4">
            <div class="col-12">
              <h2 class="text-white">About</h2>
              <p class="text-white-50">
                <!-- 我們都不帶把 - トマトＧ -->
                <!-- 樓上屬實 - RxnNode -->
                if ( 志同道合 ) makeGame();
              </p>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-sm-5 col-md-4 col-lg-3 col-xl-2 my-3">
              <div class="team-member">
                <img src="../assets/img/team/logoRxnAvatar_250.png" alt="" class="avatar">
                <div class="text-wapper">
                  <h4>RxnNode</h4>
                  <blockquote class="blockquote pt-2">好想畢業...</blockquote>
                  <p class="text-mute">主程式 / UI / 網頁</p>
                  <div class="list-group list-group-horizontal justify-content-center">
                    <a href="https://github.com/RxnNode" class="list-group-item">
                      <i class="fab fa-github-square" style="color: #00FFFF;"></i>
                    </a>
                    <a href="https://twitter.com/RxnNode" class="list-group-item">
                      <i class="fab fa-twitter-square" style="color: #00FFFF;"></i>
                    </a>
                    <a href="https://www.youtube.com/RxnNode" class="list-group-item">
                      <i class="fab fa-youtube-square" style="color: #00FFFF;"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-5 col-md-4 col-lg-3 col-xl-2 my-3">
              <div class="team-member">
                <img src="../assets/img/team/logomay_250.png" alt="" class="avatar">
                <div class="text-wapper">
                  <h4>86maylin</h4>
                  <blockquote class="blockquote pt-2">一入腐門深似海：3</blockquote>
                  <p class="text-mute">程式</p>
                  <div class="list-group list-group-horizontal justify-content-center">
                    <a href="https://github.com/86maylin" class="list-group-item">
                      <i class="fab fa-github-square" style="color: white;"></i>
                    </a>
                    <a href="https://www.youtube.com/user/86maylin/" class="list-group-item">
                      <i class="fab fa-youtube-square" style="color: white;"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-5 col-md-4 col-lg-3 col-xl-2 my-3">
              <div class="team-member">
                <img src="../assets/img/team/logoYT_250.png" alt="" class="avatar">
                <div class="text-wapper">
                  <h4>トマトＧ</h4>
                  <blockquote class="blockquote pt-2">蜜袋鼯的腋下真香</blockquote>
                  <p class="text-mute">企劃 / 美術</p>
                  <div class="list-group list-group-horizontal justify-content-center">
                    <a href="https://twitter.com/YiTing0703" target="_blank" class="list-group-item">
                      <i class="fab fa-twitter-square" style="color: #FFC300;"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-5 col-md-4 col-lg-3 col-xl-2 my-3">
              <div class="team-member">
                <img src="../assets/img/team/logosnow_250.png" alt="" class="avatar">
                <div class="text-wapper">
                  <h4>夏雪</h4>
                  <blockquote class="blockquote pt-2">初始肝新鮮度：87%</blockquote>
                  <p class="text-mute">美術</p>
                  <div class="list-group list-group-horizontal justify-content-center">
                    <a href="https://www.pixiv.net/member.php?id=11093258" class="list-group-item">
                      <img class="fab" src="../assets/img/icon/pixiv_icon_snow.svg" height="30px" width="30px">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-5 col-md-4 col-lg-3 col-xl-2 my-3">
              <div class="team-member">
                <img src="../assets/img/team/logogreenN_250.png" alt="" class="avatar">
                <div class="text-wapper">
                  <h4>草綠恩</h4>
                  <blockquote class="blockquote pt-2">興趣使然的藝術家，多肉植物</blockquote>
                  <p class="text-mute">美術</p>
                  <div class="list-group list-group-horizontal justify-content-center">
                    <a href="https://twitter.com/shozukis141" class="list-group-item">
                      <i class="fab fa-twitter-square" style="color: #74ff7b;"></i>
                    </a>
                    <a href=" https://www.pixiv.net/member.php?id=15103167" class="list-group-item">
                      <img class="fab" src="../assets/img/icon/pixiv_icon_pud.svg" height="30px" width="30px">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
        </div>
      </section>