<!-- HEADER -->
<header class="sticky-top">
  <!-- navbar wapper navbar+hr -->
  <div class="navbar-wapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-md navbar-dark justify-content-center">
        <span class="navbar-brand" id="navbar-brand-text">ΛNΤ-ΔM</span>
        <button class="navbar-toggler ml-auto NavTogglerStyle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
              <p class="menu" style="color: #FFFFFF;margin-top: 25%; font-weight: bold; text-shadow: 2px 2px #FF00FF;">MENU</p>
          </span>
        </button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto text-right">
            <li class="nav-item active">
              <a class="nav-link" href="/index.html">
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Games</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about/">About</a>
            </li>
          </ul>
        </div>
    </nav>
    <hr style="height: 0.8px; margin-top: -1%; background: linear-gradient(to right,#e0ccef 5%,#471975 15%,#0E0432 100%);">
  </div>
</header>
