<!-- HEADER -->
<header class="sticky-top">
  <!-- NAVBAR -->
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-dark justify-content-center">
        <span class="navbar-brand">ΛNΤ-ΔM</span>
        <button class="navbar-toggler ml-auto NavTogglerStyle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
              <p style="color: #FFFFFF;margin-top: 25%; font-weight: bold; text-shadow: 2px 2px #FF00FF;
">MENU</p>
          </span>
        </button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto text-right">
            <li class="nav-item active">
              <a class="nav-link" href="/index.html">
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Games</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about/">About</a>
            </li>
          </ul>
        </div>
    </nav>
  </div>
</header>
