<!DOCTYPE html>
{%- include fragments/get-lang.html -%}
<html lang="{{ __return }}" dir="ltr">
  <head>
    {%- include head/head.html -%}
  </head>
  <body>
    <div id="particles-js">
      <canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;"></canvas>
    </div>
    {%- include fragments/set-Navbar.html-%}
    {{ content }}

    <script>
    {%- include scripts/libs/particles.js -%}
    {%- include scripts/particles_load.js-%}
    {%- include scripts/load.js-%}
    </script>

</html>
