---
layout: base
---
<header class="page-heading">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center title-group">
      <div class="logo"></div>
      <!-- content here -->
      <h5 class="pt-auto">{{ content }}</h5>
    </div>
  </div>
  <a class="btn-next justify-content-center">
      <i class="fas fa-chevron-down"></i>
  </a>
 
</header>

<!-- latest news -->
{%- include fragments/latest-news.html -%}

<!-- about -->
{%- include fragments/about.html -%}

<!-- JS -->
<script>
  {%- include scripts/clicktoscroll.js -%}
</script>
